<header style="background-color: antiquewhite;">
    
    <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container-fluid" style="display: flexbox; ">
            <h1 >Kanban Board</h1>
            <div>
                
                <h1 class="btn btn-lg btn-block" type="button" (click)="wel()">
                    Home
                </h1>
                <h1 class="btn btn-lg btn-block" type="button" (click)="onAbout()">
                    About
                </h1>
                <h1 class="btn btn-lg" type="button" (click)="onCreate()">
                    Create
                </h1>
                <h1 class="btn btn-lg btn-block" type="button" (click)="onContact()">
                    Contact us
                </h1>
                <h1 class="btn btn-lg btn-block" type="button">
                    Log Out
                </h1>
            </div>
        </div>
    </nav>
    
</header>